[Unit]
Description=Made by Mykola Chernysh
Requires=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=java -jar /opt/sample/service.jar
User=mykola-chernysh
Restart=on-failure
RestartSec=10
Environment="PORT=8888"
